*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.9rem;
    color: #000000;
}

a {
    color: #000000;
}

.container {
    max-width: 118rem;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.header__inner {
    padding: 3.6rem 0rem 5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.humburger__menu {
    display: flex;
    align-items: center;
}

.logo__image {
    margin-right: 1.3rem;
}

.logo__name {
    margin-right: 28rem;
}

.nav__menu {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.nav__links {
    transition: .5s all;
}

.nav__links:not(:last-child) {
    margin-right: 6rem;
}

.nav__links:hover {
    text-shadow: 0 0 .1rem #000000;
}

.nav__button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    color: #FFFFFF;
    background-color: #6F4E37;
    border-radius: .7rem;
    transition: 1s all;
    width: 13.5rem;
    height: 4.3rem;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.nav__button:hover {
    color: #6F4E37;
    background-color: #FFFFFF;
    border: .1rem solid #6F4E37;
}

.main__inner {
    padding: 10.6rem 0 15rem 0;
    display: flex;
    justify-content: space-between;
}

.main__text {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2.8rem;
    line-height: 5.3rem;
    margin-bottom: 3rem;
    color: #444A4A;
}

.main__title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 6.3rem;
    line-height: 6.3rem;
    margin-bottom: 2.6rem;
}

.button {
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
    width: 23.5rem;
    height: 5.4rem;
    border: none;
    background-color:#6F4E37;
    border-radius: .5rem;
    font-size: 2rem;
    line-height: 2rem;
    transition: .5s all;
    cursor: pointer;
}

.button:hover {
    color: #6F4E37;
    background-color: #FFFFFF;
    border: .1rem solid #6F4E37;
}

.main__right {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.main__right::before {
    content: '';
    position: absolute;
    background-color: rgba(111, 78, 55, 0.49);
    width: 41rem;
    height: 46.6rem;
    bottom: 0;
    right: 7.8rem;
}

.main__arrow {
    width: 15.9rem;
    height: 15.7rem;
    border: none;
    background-color: #FAE9E0;
    font-size: 3.6rem;
    cursor: pointer;
    margin-right: 3.9rem;
}

.main__img {
    margin-right: 7.1rem;
    transform: translateY(5rem);
}

.main__follow {
    display: flex;
    flex-direction: column-reverse;
}

.follow-text {
    font-family: 'Josefin Sans', sans-serif;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-top: 1.6rem;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
}

.follow-link:not(:last-child) {
    margin-top: 1.6rem;
}

.descr__inner {
    margin-bottom: 9rem;
    display: flex;
}

.descr__left {
    display: flex;
    position: relative;
    margin-right: 9rem;
}

.descr__left::before {
    content: '';
    position: absolute;
    background-color: #FAE9E0;
    width: 38rem;
    height: 28.7rem;
    z-index: -1;
    left: .2rem;
}

.text-5 {
    font-family: 'Cedarville Cursive', cursive;
    writing-mode: vertical-rl;
}

.descr__about {
    transform: translateY(-26rem) rotate(180deg);
}

.descr__img {
    margin-top: 8rem;
}

.title-2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 3.8rem;
}

.descr__title {
    margin-bottom: 2.5rem;
}

.descr__text {
    font-size: 1.9rem;
    line-height: 3.6rem;
    letter-spacing: 0.001em;
    color: #444A4A;
    max-width: 64.5rem;
}

.descr__text:not(:last-child) {
    margin-bottom: 1.5rem;
}

.promotion__inner {
    display: flex;
    margin-bottom: 6rem;
}

.promotion__left {
    margin-right: 17.5rem;
}

.promotion__title {
    max-width: 30rem;
    margin-bottom: .6rem;
}

.promotion__text {
    font-size: 1.9rem;
    line-height: 3.6rem;
    letter-spacing: 0.001em;
    color: #444A4A;
    max-width: 61.5rem;
    margin-bottom: 2.4rem;
}

.promotion__right {
    display: flex;
    position: relative;
}

.promotion__right::before {
    position: absolute;
    content: '';
    background-color: rgba(111, 78, 55, 0.49);
    width: 41rem;
    height: 27.6rem;
    bottom: 3.7rem;
    right: -0.7rem;
}

.promotion__img {
    margin-right: 6.7rem;
}

.promotion__name {
    transform: translateY(-22rem) rotate(180deg);
}
.menu {
    background-color: rgba(45, 99, 94, .05);
}

.swiper-father {
    position: relative;
    max-width: 120rem;
    margin: 0 auto;
    padding: 4.3rem 0;
}

.swiper {
    width: 108.3rem;
    height: 100%;
    border-radius: 2.5rem;
    /* box-shadow: 0px 23px 34px rgba(35, 57, 55, 0.11); */
}

.menu__inner {
    margin: 0 4.3rem;
    overflow: hidden;
    border-radius: 25px;
}

.menu__box {
    background-color: #FFFFFF;
    /* box-shadow: 0px 23px 34px rgba(35, 57, 55, 0.17); */
    border-radius: 2.5rem;
    text-align: center;
}

.menu__box button {
    margin-bottom: 4.7rem;
}

.box-items {
    padding: 4.5rem 0 4.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 2.8rem;
    margin-bottom: 2.5rem;
}

.menu__about {
    font-size: 1.9rem;
    line-height: 3.6rem;
    letter-spacing: 0.001em;
    color: #444A4A;
    max-width: 22.4rem;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    z-index: 10;
    position: absolute;
    left: 0;
    color: #6F4E37;
    font-weight: 700;
}

.address__inner {
    display: flex;
    padding: 13.1rem 0 11.4rem 0;
}

.address__left {
    display: flex;
    margin-right: 17.6rem;
}

.address__name {
    transform: translateX(-2rem) translateY(-37rem) rotate(180deg);
}

.address__right {
    padding-top: 1.3rem;
    position: relative;
}

.address__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.2rem;
    line-height: 4.5rem;
    letter-spacing: 0.02em;
    margin-bottom: 2.1rem;
}

.address__title::before {
    position: absolute;
    top: 3.5rem;
    right: 26rem;
    display: block;
    content: '';
    width: 10.2rem;
    height: .2rem;
    background-color: #444A4A;
}

.address__text {
    font-size: 1.9rem;
    line-height: 3.6rem;
    letter-spacing: 0.001em;
    color: #444A4A;
}

.address__text:not(:last-child) {
    margin-bottom: 1.6rem;
}

.footer__text {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.9rem;
    line-height: 3.6rem;
    color: #444A4A;
    letter-spacing: 0.001em;
}

@media (max-width: 1199px){
    .container {
        max-width: 110rem;
    }
    .nav__links:not(:last-child) {
        margin-right: 3rem;
    }
    .header__inner,
    .main__inner {
        margin: 0 2rem;
        justify-content: space-evenly;
    }
    .promotion__inner {
        justify-content: space-evenly;
        margin: 0 2rem 5rem 2rem;
    }
    .descr__inner {
        margin: 0 2rem 9rem 2rem;
        justify-content: space-evenly;
    }
    .promotion__name {
        transform: translateY(-23rem) translateX(1rem) rotate(180deg);
    }
    .title-2 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    .descr__text,
    .promotion__text {
        max-width: 55rem;
    }
    .swiper-father {
        max-width: 110rem;
    }
    .swiper {
        max-width: 95rem;
    }
    .address__inner {
        justify-content: center;
    }
    .address__name {
        transform: translateX(-2rem) translateY(-27rem) rotate(180deg);
    }
    iframe.address__map {
        width: 500px;
        height: 350px;
    }
}

@media (max-width: 1120px) {
    .container {
        max-width: 105rem;
    }
}

@media (max-width: 1105px) {
    .container {
        max-width: 100rem;
    }
    .logo {
        max-width: 40rem;
    }
    .main__text {
        font-size: 2.3rem;
    }
    .main__title {
        font-size: 5.3rem;
        line-height: 5.3rem;
    }
    .button {
        width: 18.5rem;
        height: 4.4rem;
    }
    .main__arrow {
        width: 11.9rem;
        height: 11.7rem;
    }
}

@media (max-width: 1050px) {
    .swiper {
        max-width: 90rem;
    }
}

@media (max-width: 1023px){
    .container {
        max-width: 95rem;
    }
    .main__text {
        font-size: 2rem;
        line-height: 3.3rem;
    }
    .main__title {
        font-size: 4.3rem;
        line-height: 4.3rem;
    }
    .descr__inner {
        margin-bottom: 5rem;
    }
    .title-2 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .descr__text,
    .promotion__text {
        font-size: 1.6rem;
        line-height: 3rem;
    }
    .promotion__title {
        margin-bottom: 1rem;
    }
    .swiper {
        max-width: 85rem;
    }
}

@media (max-width: 978px) {
    .container {
        max-width: 90rem;
    }
    .logo {
        max-width: 30rem;
    }
    .swiper {
        max-width: 65rem;
    }
    iframe.address__map {
        width: 400px;
        height: 250px;
    }
    .address__name {
        transform: translateX(-2rem) translateY(-20rem) rotate(180deg);
    }
    .address__title {
        font-size: 2.2rem;
    }
    .address__text {
        font-size: 1.6rem;
    }
    .footer__text {
        font-size: 1.6rem;
}



@media (max-width: 920px) {
    .container {
        max-width: 85rem;
    }
    .main__inner {
        padding: 5.6rem 0 15rem 
    }
    .main__text {
        line-height: 3.3rem;
    }
    .main__title {
        font-size: 3.3rem;
        line-height: 3.3rem;
    }
    .button {
        width: 14.5rem;
        height: 4.4rem;
        font-size: 1.6rem;
    }
    .main__right::before {
        width: 26.1rem;
        height: 29.6rem;
        bottom: -0.04rem;
        right: 4.9rem;
    }
    .main__img {
        margin-right: 3.1rem;
        transform: translateX(.3rem) translateY(3rem);
        width: 50%;
    }
    .main__right {
        justify-content: flex-end;
    }
    .main__arrow {
        margin-right: 0rem;
        width: 8.9rem;
        height: 8.7rem;
    }
    .descr__img,
    .promotion__img {
        max-width: 80%;
    }
    .descr__img {
        margin-top: 4rem;
    }
    .descr__left::before {
        width: 28rem;
        height: 22.7rem;
    }
    .promotion__right::before {
        width: 30rem;
    }
    .promotion__name {
        transform: translateY(-23rem) translateX(-3.9rem) rotate(180deg);
    }
}

@media (max-width: 869px) {
    .container {
        max-width: 80rem;
    }
    .logo__name {
        margin-right: 3rem;
    }
    .header__inner {
        justify-content: space-between;
    }
}

@media (max-width: 825px) {
    .container {
        max-width: 75rem;
    }
    .nav__button {
        width: 9.5rem;
        height: 3.3rem;
    }
    .nav__links:not(:last-child) {
        margin-right: 2rem;
    }
    .follow-text {
        font-size: 20px;
    }
    svg {
        display: block;
        width: 2rem;
    }
    .title-2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .descr__text, .promotion__text {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .promotion__right::before {
        bottom: -0.3rem;
    }
    .descr__about {
        transform: translateY(-17rem) rotate(180deg);
    }
    .promotion__name {
        transform: translateY(-18rem) translateX(-4.2rem) rotate(180deg);
    }
    .menu__title {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .menu__about {
        font-size: 1.8rem;
        line-height: 3.4rem;
        height: 20.4rem;
    }
    .address__name {
        transform: translateX(-2rem) translateY(-20rem) rotate(180deg);
    }
    .address__title::before {
        right: 21rem;
    }
    .address__left {
        margin-right: 12.6rem;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 70rem;
    }
    .main__arrow {
        display: none;
    }
    .header__inner {
        display: flex;
        justify-content: flex-start;
    }
    .logo {
        z-index: 3;
    }
    .humburger {
        width: 2.7rem;
        height: 2.1rem;
        position: relative;
        z-index: 2;
        margin-right: 1rem;
    }
    .humburger span {
        width: 2.7rem;
        height: .1rem;
        position: absolute;
        border-radius: .5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }
    .humburger span:nth-of-type(2) {
        top: calc(50% - .8rem);
    }
    .humburger span:nth-of-type(3) {
        top: calc(50% + .8rem);
    }
    .humburger__menu,
    .nav__button {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        padding: 3rem 3.5rem;
        background: #FFFFFF;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }
    .humburger__menu {
        justify-content: center;
        align-items: flex-end;
    }
    .humburger__menu.active {
        transform: translateX(0);
    }
    .humburger.active span:nth-of-type(1) {
        display: none;
    }
    .humburger.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    .humburger.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }
    .swiper-button-prev::after, 
    .swiper-button-next::after {
        display: none;
    }
    .header__inner {
        display: flex;
        padding-top: 1rem;
        margin: 0;
        justify-content: flex-start;
    }
    .descr__img,
    .descr__about,
    .menu__box {
        z-index: -1;
    }
    .nav__menu {
        flex-direction: column;
    }
    .nav__links {
        font-weight: 400;
        font-size: 3.6rem;
        line-height: 3.6rem;
        margin-bottom: 7rem;
    }
}